#filter-main {
    width: 400px;
    height: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    border: 1px solid #D9DFEB;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

#filter-main-header {
    background: #F5F7FA;
    border: 1px solid #D9DFEB;
    border-radius: 4px 4px 0 0;
    height: 48px;
    padding-top: 15px;
    /*cursor: pointer;*/
}

.filter-header-a {
    /*display: inline-block;*/
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #353535;
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 12px;
    cursor: pointer;
}

.filter-header-a-on {
    /*display: inline-block;*/
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #5D2FFF;
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 12px;
    border-bottom: 2px solid #5D2FFF;
    cursor: pointer;
}

#filter-main-middle {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.filter-main-middle-r {
    padding-top: 70px;
}

.filter-middle-r-c {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 100%;
    min-width: 25%;
    /*margin-right: 5px;*/
}

#filter-main-bottom {
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.hr-line {
    border: 1px dashed #DCDFE6;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0px;
}

.select-size {
    display: inline-block;
    height: 32px;
    width: 100px;
    margin-right: 24px;
}

.time-input {
    display: inline-block;
    max-width: 30%;
    height: 32px !important;
    border: 1px solid rgba(144, 147, 153, 0.50);
    border-radius: 4px;
    cursor: pointer;
}

.path-span-chose {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    /*border: 1px solid rgba(142,152,180,0.50);*/
    border: 1px solid #5D2FFF;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 6px 8px 6px 8px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #5D2FFF;
    text-align: left;
}
.path-span {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    border: 1px solid rgba(142,152,180,0.50);
    /*border: 1px solid #5D2FFF;*/
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 6px 8px 6px 8px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #353535;
    text-align: left;
}



.button-all {
    background-image: linear-gradient(-90deg, #7959D3 0%, #5D64C1 100%);
    box-shadow: 0 2px 8px 0 #BBC3E2;
    border-radius: 4px;
    padding: 6px 19px 6px 19px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.input_class{
    margin-top: 3px;!important;
}